@import '../common.scss';

.container {
  position: relative;
  height: 100%;
  background: url(./assets/bg.jpg) no-repeat 0 0;
  background-size: 100%;
  font-size: 10vw;

  svg {
    position: absolute;

    text {
      transform-origin: 50% 50%;
      transform: matrix(0.76, 0.49, 0.02, 1, 0, 0);
      text-anchor: middle;
      dominant-baseline: mathematical;
      font-size: 34px;
    }
    polygon:first-child {
      fill: #ececec;
    }
    polygon:nth-child(2) {
      fill: #dbdbdb;
    }
    polygon:nth-child(3) {
      fill: #fff;
    }
  }
}

svg.selected {
  text {
    fill: #fff;
  }
  polygon:first-child {
    fill: #d83d1e;
  }
  polygon:nth-child(2) {
    fill: #ff7d55;
  }
  polygon:nth-child(3) {
    fill: #ff5f1d;
  }
}

.school {
  top: 5.05em;
  left: 5.4em;
  width: 1.2em;
}

.factory {
  top: 13.45em;
  left: 3.6em;
  width: 1.2em;
}

.mall {
  top: 10.65em;
  left: 6.3em;
  width: 1.2em;
}

.community {
  top: 5.25em;
  left: 2.76em;
  width: 1.2em;
}

.photovoltaic {
  top: 10.45em;
  left: 1.5em;
  width: 1.2em;
}

.wind {
  top: 8.25em;
  left: 7.2em;
  width: 1.2em;
}

.battery {
  top: 13.21em;
  left: 6em;
  width: 1.2em;
}

.gas {
  top: 11.35em;
  left: 8.3em;
  width: 1.2em;
}
