@import '../../common.scss';
.container {
  @extend %scroll;
  @extend %padding;
  padding: 0;
  background: #f6f6f6;
}
.history {
  height: 24px;
  text-align: center;
  font-family: PingFangSC;
  font-size: 17px;
  color: black;
  padding: 20px 0 50px 0;
}
.card {
  height: 120px;
  margin: 0 12px 12px 12px;
  background-color: #ffffff;
  box-shadow: 0px 0px 6px grey;
  border-radius: 5px;
  .card-top {
    height: 68px;
    margin: 0 20px 0 20px;
    border-bottom: 1px solid #f4f6f8;
    padding-top: 16px;
    ul {
      li {
        width: 33.3%;
        float: left;
        span {
          &:nth-child(1) {
            font-family: PingFangSC;
            font-size: 12px;
            color: #abb3b8;
          }
          &:nth-child(3) {
            display: block;
            margin-top: 16px;
            font-family: PingFangSC;
            font-size: 16px;
            color: #171f24;
          }
        }
        .blue {
          color: #1308fe !important;
          font-size: 14px !important;
        }
        &:nth-child(3) {
          text-align: right !important;
        }
        &:nth-child(2) {
          text-align: center;
        }
      }
    }
  }
  p {
    font-size: 11px;
    color: #aab2b7;
    margin: 12px 20px 0 20px;
  }
}
.lose {
  color: #fe5816 !important;
  font-size: 14px !important;
}
