@import '../../common.scss';
.container {
  @extend %scroll;
  background: #f6f6f6;
  :global {
    .am-navbar-light {
      background-color: #fff;
      color: #4a4a4a;
      padding-top: 20px;
    }
    .am-icon-md {
      width: 30px;
      height: 80px;
    }
    .am-navbar-title {
      color: black;
      font-size: 20px;
    }
  }
}
.section {
  @extend %section;
}

.chart {
  background: linear-gradient(to right, #9965f7, #6417da);
}
