@import '../common.scss';

.container {
  @extend %scroll;
}

.wrapper {
  height: calc(100% - 120px);
  padding: 0 30px;
}

.agreement {
  height: 100%;
  margin-bottom: 20px;
  overflow: auto;
  font-size: 12px;
  line-height: 20px;

  p {
    text-align: center;
  }
}
