// 全局样式
html {
  font-size: 10vw;
}

ul,
li {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

dl {
  margin: 0;
}

h2 {
  font-size: 18px;
  font-weight: normal;
  color: #4a4a4a;
}

a {
  color: #328ae3;
}

:global {
  .color-up {
    color: #589065;

    &::before {
      content: '+';
    }
  }

  .color-down {
    color: #ae4e54;
  }

  .full-screen {
    position: fixed;
    top: 0;
    width: 100%;
    //max-width: 750px;
    height: 100%;
  }

  .am-button-ghost {
    background-color: rgb(255, 222, 208);
    &::before {
      border-width: 0 !important;
    }
  }

  .am-button-disabled {
    color: rgb(255, 255, 255) !important;
  }

  .am-list-item {
    padding-right: 15px;
  }

  .am-list-content {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
}
