@import '../../common.scss';

.container {
  @extend %container;
  @extend %scroll;
  overflow-x: hidden;
  background: #fff;
  h2 {
    font-size: 18px;
    color: #4a4a4a;
    padding-left: 20px;
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %padding;
  }

  :global {
    .am-navbar-left,
    .am-navbar-right {
      p {
        color: #737b91;
        font-size: 14px;
      }
    }
    .am-button-primary {
      margin: 15px;
    }
    .am-input-control {
      > input::-webkit-input-placeholder {
        color: #737b91;
      }
    }
  }
}

.section {
  @extend %section;
  border-top: 20px solid #f6f6f6;
  > div > div {
    &:first-child {
      border-bottom: 1px solid #f4f6f8;
    }
  }
}

.chart {
  @extend %touchable;
  border-bottom: 20px solid #f6f6f6;
}
