@import '../../common.scss';

.container {
  @extend %container;
  @extend %scroll;
  overflow-x: hidden;
  background: #fff;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %padding;
  }

  .empty {
    background: #f6f6f6;
    height: 20px;
  }

  :global {
    .am-navbar-left {
      p {
        color: #737b91;
      }
    }
  }
}

.section {
  @extend %section;

  > div > div {
    &:first-child {
      border-bottom: 1px solid #f4f6f8;
    }
  }
}
