@import '../../common.scss';

.container {
  @extend %container;
  @extend %scroll;
  overflow-x: hidden;
  background: #fff;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %padding;
  }

  :global {
    .am-navbar-left,
    .am-navbar-right {
      p {
        color: #737b91;
        font-size: 14px;
      }
    }
  }
}

.section {
  @extend %section;
  border-top: 20px solid #f6f6f6;
  > div > div {
    &:first-child {
      border-bottom: 1px solid #f4f6f8;
    }
  }
}
