%padding {
  padding: 0 20px;
}

%scroll {
  height: 100%;
  overflow: auto;
  background-color: #fff;
}

%tabBar-selected {
  path {
    fill: #fe5816;
  }
}

%container {
  @extend %scroll;
  background: #f6f6f6;

  h2 {
    margin: 30px 0 20px;
    font-size: 24px;
    color: #4a4a4a;
  }
}

%section {
  display: flex;
  flex-direction: column;
  @extend %padding;
  background: #fff;
  // overflow: hidden;

  > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f4f6f8;

    &:first-child,
    &:last-child {
      border-bottom-width: 0;
    }

    > span:first-child {
      padding: 26px 10px 26px 0;
      color: #737b91;
      white-space: nowrap;
    }

    > a {
      padding: 26px 0;
      color: #328ae3;
    }
  }

  .button {
    margin: 10px 0 30px;
  }

  :global {
    .am-input-item {
      background: #ebedf2;
      border-radius: 4px;
    }
  }
}
