@import '../../common.scss';

.container {
  @extend %container;
  .title {
    text-align: center;
    padding: 15px 0px;
    background: #fff;
    font-size: 18px;
  }
}

.section {
  @extend %section;
  margin-top: 10px;
}

.earns {
  @extend %padding;
  margin: 20px 0;
  background: #fff;
  overflow: hidden;

  .box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;

    > div {
      border-radius: 5px;
      width: 30%;
      height: 85px;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    }
  }

  .first {
    background: linear-gradient(to top right, #0792ff, #0057ff);
  }

  .second {
    background: linear-gradient(to top right, #f76b1c, #fad961);
  }

  .third {
    background: linear-gradient(to top right, #9965f7, #8435fe, #8230ff);
  }

  span {
    color: #fff;
    display: block;

    &:first-child {
      padding: 16px 0 0 10px;
    }

    &:last-child {
      padding: 22px 0 10px 10px;
      font-size: 12px;
      opacity: 0.8;
    }
  }
}
