@import '../../common.scss';

.container {
  @extend %scroll;
  background: #fff;
}

.overview {
  @extend %margin;
  margin-top: 10px;
  background: linear-gradient(to right, #ff764e, #e14609);
  box-shadow: 0 0 5px grey;
  border-radius: 5px;

  .row {
    padding: 20px 10px 10px;

    .column {
      position: relative;
      width: 50%;
      display: inline-block;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      &:first-child:after {
        content: '|';
        color: rgba(255, 255, 255, 0.1);
        font-size: 26px;
        position: absolute;
        left: 100%;
        top: 7px;
      }
    }

    span {
      display: block;
      text-align: center;

      &:nth-child(1) {
        font-size: 12px;
        color: #f1f4f5;
      }

      &:nth-child(2) {
        line-height: 40px;
        font-size: 16px;
        color: #fff;
      }
    }
  }
  p {
    margin: 0;
    padding: 10px;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.8);
  }
}

.detail {
  @extend %padding;
  margin-top: 30px;

  h2 {
    margin: 0 0 20px;
    font-size: 16px;
    color: #4a4a4a;
  }

  .header {
    display: flex;
    justify-content: space-between;
    height: 21px;

    span {
      color: #abb3b8;
      font-size: 12px;
    }

    .fixed {
      width: 45%;
      text-align: right;
    }
  }

  .list {
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #f4f6f8;
    font-size: 14px;

    span {
      color: #171f24;
    }

    .fixed {
      width: 45%;
      text-align: right;
    }
  }
}
